<div>
    <div class="row">
        <div class="col-2">
            <button [ngClass]="!output ? 'generate disabled': 'generate'" disableRipple mat-flat-button (click)="generate()" [disabled]="!output">
                <span>{{generateLabel | localize: 'generateLabel':'automatic-dialog':'label' | uppercase}}</span>
            </button>
        </div>
        <div class="col-7 pl-5">
            <mat-form-field floatLabel="never" class="full-width pt-1">
                <input class="markup-input" matInput autocomplete="off" placeholder="{{expectedOutputLabel | localize: 'expectedOutputLabel':'automatic-dialog':'label'}}"
                    [(ngModel)]="output" />
            </mat-form-field>
        </div>
        <div class="col-3 right">
            <button class="close-button" mat-button (click)="close()">
                <span class="icon close-icon large-icon"></span>
            </button>
        </div>
        <div class="col-12">
            <bh-errormessage class="pb-3" *ngIf="showErrorMessage" message="{{errorMessageLabel}}" width="100%"></bh-errormessage>
        </div>
    </div>
    <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    <div class="automatic-wrapper">
        <mat-form-field floatLabel="never" class="full-width pt-3">
            <textarea class="markup-input" matInput autocomplete="off" rows="6" disabled [(ngModel)]="data.markup"></textarea>
        </mat-form-field>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <button class="save" disableRipple mat-flat-button (click)="save()">
                <span>{{saveLabel | localize: 'saveLabel':'automatic-dialog':'label' | uppercase}}</span>
            </button>
        </div>
    </div>
</div>