<h4>Data mapping</h4>

<div class="row pl-3">
    <mat-form-field>
        <input matInput>
    </mat-form-field>
</div>
<div>
    <div class="row pb-3">
        <div class="col-xl-4 col-lg-12 center">{{nameLabel | localize: 'nameLabel':'datamapping':'label' | uppercase}}</div>
        <div class="col-xl-7 col-lg-12 center">{{markupLabel | localize: 'markupLabel':'datamapping':'label' | uppercase}}</div>
    </div>
    <div class="row " *ngFor="let fieldMapping of fieldMappings">
        <div [formGroup]="fieldMapping.formGroup" class="row full-width">
            <div class="col-xl-4 col-lg-12 center pl-5">
                <div *ngIf="!fieldMapping.editMode" class="field-mapping" (click)="toggleEditMode(fieldMapping, true)">
                    <span class="italic" *ngIf="!fieldMapping.formGroup.controls.fieldName.value">{{insertFieldNameLabel
                        | localize: 'insertFieldNameLabel':'datamapping':'label'}}
                    </span>
                    <span *ngIf="fieldMapping.formGroup.controls.fieldName.value">{{fieldMapping.formGroup.controls.fieldName.value}}</span>
                </div>
                <div *ngIf="fieldMapping.editMode">
                    <mat-form-field>
                        <input matInput class="center" (focusout)="toggleEditMode(fieldMapping, false)" formControlName="fieldName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 center pl-5">
                <div class="field-mapping">
                    <span [matMenuTriggerFor]="markup" class="italic" *ngIf="!fieldMapping.formGroup.controls.fieldMarkup.value">{{insertFieldMarkupLabel
                        | localize: 'insertFieldMarkupLabel':'datamapping':'label'}}</span>
                    <span [matMenuTriggerFor]="markup" *ngIf="fieldMapping.formGroup.controls.fieldMarkup.value">{{fieldMapping.formGroup.controls.fieldMarkup.value}}</span>
                </div>
                <mat-menu class="markup-menu" #markup="matMenu">
                    <div mat-menu-item>
                        <button disableRipple mat-button (click)="automaticMapping(fieldMapping)">
                            <span class="icon language-en-icon left-icon"></span>
                            <span>{{automaticLabel | localize: 'automaticLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                    <div mat-menu-item>
                        <button disableRipple mat-button (click)="visualMapping('bg')">
                            <span class="icon language-bg-icon left-icon"></span>
                            <span>{{visualLabel | localize: 'visualLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                    <div mat-menu-item>
                        <button disableRipple mat-button (click)="codeMapping('bg')">
                            <span class="icon language-bg-icon left-icon"></span>
                            <span>{{codeLabel | localize: 'codeLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                    <div mat-menu-item>
                        <button disableRipple mat-button (click)="manualMapping('bg')">
                            <span class="icon language-bg-icon left-icon"></span>
                            <span>{{manualLabel | localize: 'manualLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                </mat-menu>
            </div>
            <div class="col-xl-1 col-lg-12 center">
                <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="removeMapping(fieldMapping.id)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <button (click)="addMapping()">Add</button>
    </div>
</div>