<h4 class="pt-3">{{dataMappingLabel | localize: 'dataMappingLabel':'datamapping':'label'}}</h4>
<div [formGroup]="parentForm" class="row pt-5">
    <div class="col-10 detail-url-wrapper pb-3">
        <mat-form-field floatLabel="never">
            <mat-label>{{detailUrlLabel | localize: 'detailUrlLabel':'datamapping':'label'}}</mat-label>
            <input matInput autocomplete="off" formControlName="detailUrl">
        </mat-form-field>
    </div>
    <div class="col-2 code-button-wrap">
        <button [ngClass]="parentForm.invalid ? 'code-button disabled': 'code-button'" mat-icon-button (click)="codeView()" [disabled]="parentForm.invalid">
            <span *ngIf="!parentForm.invalid" class="icon code-icon large-icon"></span>
            <span *ngIf="parentForm.invalid" class="icon code-disabled-icon large-icon"></span>
        </button>
    </div>
</div>
<div>
    <div class="row pb-3">
        <div class="col-xl-4 col-lg-12 center bold">{{nameLabel | localize: 'nameLabel':'datamapping':'label' | uppercase}}</div>
        <div class="col-xl-6 col-lg-12 center bold">{{markupLabel | localize: 'markupLabel':'datamapping':'label' | uppercase}}</div>
    </div>
    <div *ngFor="let fieldMapping of fieldMappings">
        <div [formGroup]="fieldMapping.formGroup" class="row field-row">
            <div class="col-xl-4 col-lg-12 center">
                <div *ngIf="!fieldMapping.editMode" class="field-mapping" (click)="toggleEditMode(fieldMapping, true)">
                    <span class="italic" *ngIf="!fieldMapping.formGroup.controls.fieldName.value">{{insertFieldNameLabel
                        | localize: 'insertFieldNameLabel':'datamapping':'label'}}
                    </span>
                    <span *ngIf="fieldMapping.formGroup.controls.fieldName.value">{{fieldMapping.formGroup.controls.fieldName.value}}</span>
                </div>
                <div *ngIf="fieldMapping.editMode">
                    <mat-form-field>
                        <input matInput autocomplete="off" class="center" (focusout)="toggleEditMode(fieldMapping, false)" formControlName="fieldName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 center">
                <div class="field-mapping">
                    <span [matMenuTriggerFor]="markup" class="italic" *ngIf="!fieldMapping.formGroup.controls.fieldMarkup.value">{{insertFieldMarkupLabel
                        | localize: 'insertFieldMarkupLabel':'datamapping':'label'}}</span>
                    <span [matMenuTriggerFor]="markup" *ngIf="fieldMapping.formGroup.controls.fieldMarkup.value">{{fieldMapping.formGroup.controls.fieldMarkup.value}}</span>
                </div>
                <mat-menu class="markup-menu" #markup="matMenu">
                    <div mat-menu-item [disabled]="parentForm.controls['detailUrl'].invalid" (click)="automaticMapping(fieldMapping)">
                        <button disableRipple mat-button>
                            <span *ngIf="!parentForm.controls['detailUrl'].invalid" class="icon automatic-icon small-icon left-icon"></span>
                            <span *ngIf="parentForm.controls['detailUrl'].invalid" class="icon automatic-disabled-icon small-icon left-icon"></span>
                            <span [ngClass]="parentForm.controls['detailUrl'].invalid ? 'markup-option disabled': 'markup-option'">{{automaticLabel
                                | localize: 'automaticLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                    <div mat-menu-item [disabled]="parentForm.controls['detailUrl'].invalid" (click)="visualMapping(fieldMapping)">
                        <button disableRipple mat-button>
                            <span *ngIf="!parentForm.controls['detailUrl'].invalid" class="icon visual-icon small-icon left-icon"></span>
                            <span *ngIf="parentForm.controls['detailUrl'].invalid" class="icon visual-disabled-icon small-icon left-icon"></span>
                            <span [ngClass]="parentForm.controls['detailUrl'].invalid ? 'markup-option disabled': 'markup-option'">{{visualLabel
                                | localize: 'visualLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                    <div mat-menu-item [disabled]="parentForm.controls['detailUrl'].invalid" (click)="codeMapping(fieldMapping)">
                        <button disableRipple mat-button>
                            <span *ngIf="!parentForm.controls['detailUrl'].invalid" class="icon code-icon small-icon left-icon"></span>
                            <span *ngIf="parentForm.controls['detailUrl'].invalid" class="icon code-disabled-icon small-icon left-icon"></span>
                            <span [ngClass]="parentForm.controls['detailUrl'].invalid ? 'markup-option disabled': 'markup-option'">{{codeLabel
                                | localize: 'codeLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                    <div mat-menu-item (click)="manualMapping(fieldMapping)">
                        <button disableRipple mat-button>
                            <span class="icon manual-icon small-icon left-icon"></span>
                            <span>{{manualLabel | localize: 'manualLabel':'datamapping':'label'}}</span>
                        </button>
                    </div>
                </mat-menu>
            </div>
            <div class="col-xl-2 col-lg-12 remove-button-wrap">
                <button class="remove-button" mat-icon-button aria-label="Example icon-button with a heart icon" (click)="removeMapping(fieldMapping.id)">
                    <span class="icon remove-icon large-icon"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="mat-divider full-width"></div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 add-button-wrap">
            <button disableRipple mat-flat-button class="add" (click)="addMapping()">
                <span class="icon add-icon medium-icon"></span>
            </button>
        </div>
    </div>
    <div class="row full-width pb-5 pt-3">
        <div class="col-12 center">
            <button disableRipple mat-flat-button [ngClass]="parentForm.controls['detailUrl'].invalid ? 'validate disabled': 'validate'"
                (click)="validate()" [disabled]="parentForm.controls['detailUrl'].invalid">
                <span>{{validateLabel | localize: 'validateLabel':'datamapping':'label' | uppercase}}</span>
            </button>
        </div>
    </div>
</div>