.full-width {
    width: 100%;
}

.field-mapping {
    padding: 2px 0px;
    word-wrap: break-word;
}

.field-mapping:hover {
    cursor: pointer;
}

.field-row>div {
    padding-top: 13px;
    padding-bottom: 9px;
}

.markup-option.disabled {
    color: #dfdfdf;
}

.add {
    background-color: #ffeb3b;
    color: #ffffff;
}

.add:hover {
    background-color: #ffeb3b;
    color: #212121;
}

.validate {
    min-width: 150px;
    background-color: #212121;
    color: #ffffff;
}

.validate.disabled {
    min-width: 150px;
    background-color: #dfdfdf;
    color: #ffffff;
}

.validate:hover {
    background-color: #212121;
    color: #ffeb3b;
}

.validate.disabled:hover {
    background-color: #dfdfdf;
    color: #ffffff;
}

.code-button {
    min-width: 50px;
}

.remove-button {
    min-width: 50px;
    margin-top: -5px;
}


.remove-button:hover {
    background-color: #efefef;
}

.code-button:hover {
    background-color: #efefef;
}

.code-button.disabled:hover {
    background-color: transparent;
}

.add-button-wrap {
    text-align: left;
}

.remove-button-wrap, .code-button-wrap {
    text-align: right;
}

.remove-icon {
    background: url(../../../../assets/icons/remove-accent.svg);
}

.code-icon {
    background: url(../../../../assets/icons/code-accent.svg);
}

.code-disabled-icon {
    background: url(../../../../assets/icons/code-disabled.svg);
}
.automatic-icon {
    background: url(../../../../assets/icons/automatic-accent.svg);
}

.automatic-disabled-icon {
    background: url(../../../../assets/icons/automatic-disabled.svg);
}

.manual-icon {
    background: url(../../../../assets/icons/manual-accent.svg);
}

.manual-disabled-icon {
    background: url(../../../../assets/icons/manual-disabled.svg);
}

.visual-icon {
    background: url(../../../../assets/icons/visual-accent.svg);
}

.visual-disabled-icon {
    background: url(../../../../assets/icons/visual-disabled.svg);
}

.add .add-icon {
    background: url(../../../../assets/icons/add-white.svg);
}

.add:hover .add-icon {
    background: url(../../../../assets/icons/add-accent.svg);
}

/* lg */
@media (max-width: 1200px) {
    .add-button-wrap, .remove-button-wrap, .code-button-wrap {
        text-align: center;
    }
}

