.pricing-wrapper {
    margin: 0px 10px;
    padding: 20px 20px 0px 20px;
    background: rgba(247,247,247);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 90%);
}

.button-wrapper {
    margin: -10px 10px 10px 10px;
}

.purchase-button {
    border-radius: 0px;
    background-color: #FFEB3B;
    color: #212121;
    padding: 10px 0px;
}

.purchase-button:hover {
    background-color: #212121;
    color: #FFEB3B;
}

.question-icon {
    background: url(../../../assets/icons/question-accent.svg);
}

.payment-price {
    line-height: 30px;
}

.payment-price span {
    margin-bottom: -5px;
}