<div class="row">
    <div class="col-lg-3 col-md-12 tile">
        <div class="scrape-type">
            <div class="scrape-type-image">
                <span class="{{scrapeTypeIcon}}"></span>
            </div>
            <div class="content">
                <h5>{{scrapeTypeTitleLabel}}</h5>
                <div>
                    {{scrapeTypeDescriptionLabel}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 tile">
        <div class="content">

        </div>
    </div>
    <div class="col-lg-3 col-md-12 tile">
        <div class="export-type">
            <div class="export-type-image">
                <span class="{{exportTypeIcon}}"></span>
            </div>
            <div class="content">
                <h5>{{exportTypeTitleLabel}}</h5>
                <div>
                    {{exportTypeDescriptionLabel}}
                </div>
            </div>
        </div>
    </div>
</div>