<div class="container" dragdrop (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" single (change)="fileBrowseHandler($event.target.files)" accept=".txt" />
    <img src="../../../../assets/icons/upload-accent.svg" width="80px" class="p-1">
    <h6 class="pt-2">{{dragDropLabel | localize: 'dragDropLabel':'fileupload':'label'}}</h6>
    <h6 class="pb-2">{{orLabel | localize: 'orLabel':'fileupload':'label'}}</h6>
    <label for="fileDropRef">{{browseFileLabel | localize: 'browseFileLabel':'fileupload':'label' | uppercase}}</label>
    <div class="pt-2 upload-description">{{fileInstructionsLabel | localize: 'fileInstructionsLabel':'fileupload':'label'}}</div>
</div>

<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
        <img src="../../../../assets/icons/language-accent.svg" width="45px" alt="file">
        <div class="info">
            <h4 class="name">
                {{ file?.name }}
            </h4>
            <p class="size">
                {{ formatBytes(file?.size) }}
            </p>
            <mat-progress-bar mode="determinate" [value]="file?.progress"></mat-progress-bar>

        </div>
        <img src="../../../../assets/icons/language-accent.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
</div>