.signup-side {
    border-right: 1px solid #dfdfdf;
    margin-top: 10vh;
    margin-bottom: 5vh;
    min-height: 40vh;
}

.image-side {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.signup-field {
    min-width: 300px;
}

.signup {
    min-width: 300px;
    background-color: #FFEB3B;
    color: #ffffff;
}

.signup.disabled {
    min-width: 300px;
    background-color: #dfdfdf;
    color: #ffffff;
}

.signup:hover {
    background-color: #FFEB3B;
    color: #212121;
}

.signup.disabled:hover {
    background-color: #dfdfdf;
    color: #ffffff;
}

.image {
    max-width: 300px;
}

.required {
    color: #FFEB3B;
}

.password-enabled-icon {
    background: url(../../../assets/icons/password-enabled.svg);
    background-position-y: 30px;
}

.password-disabled-icon {
    background: url(../../../assets/icons/password-disabled.svg);
    background-position-y: 30px;
}

.password-enabled-icon:hover {
    cursor: pointer;
}

.password-disabled-icon:hover {
    cursor: pointer;
}