<div class="page-content">
    <div class="row">
        <div class="col-md-2 col-sm-12 filter-wrapper">
            <mat-form-field floatLabel="never">
                <mat-label>{{statusesLabel | localize: 'statusesLabel':'payments':'label'}}</mat-label>
                <mat-select (selectionChange)="statusChange($event)">
                    <mat-option *ngFor="let paymentStatus of paymentStatuses" [value]="paymentStatus.value">
                        {{paymentStatus.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-5 col-sm-12 filter-wrapper">
            <mat-form-field floatLabel="never">
                <input matInput (keyup)="applyGlobalFilter($event.target.value)" placeholder="{{searchLabel | localize: 'searchLabel':'payments':'label'}}">
            </mat-form-field>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-2 col-sm-12">
            <div [formGroup]="dateForm">
                <mat-form-field class="wrapper-custom date-field full-width" floatLabel="never">
                    <input readonly type="text" (click)="picker.open()" matInput [value]="filterDate" (dateChange)="onDateChange($event)" [min]="minDate"
                        [max]="maxDate" [satDatepicker]="picker" class="date custom-date-picker" placeholder="{{filterDateLabel | localize: 'filterDateLabel':'payments':'label'}}"
                        autocomplete="off" formControlName="date">
                    <sat-datepicker #picker [rangeMode]="true" touchUi="true" [closeAfterSelection]="false"></sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div>
        <table mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{creationDateLabel | localize: 'creationDateLabel':'payments':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.creationDate | localizedDate :'d MMM yyyy HH:mm:ss'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{userLabel | localize: 'userLabel':'payments':'label'}}</th>
                <td mat-cell *matCellDef="let element"> <span class="user-link" (click)="navigate('administration/users/detail/' + element.userId)">
                        {{element.email}} </span> </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{statusLabel | localize: 'statusLabel':'payments':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.status | paymentstatusconvert:triggerStatusUpdate }} </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{priceLabel | localize: 'priceLabel':'payments':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.price}} {{currencyLabel | localize: 'currencyLabel':'payments':'label'
                    | lowercase}} </td>
            </ng-container>
            <ng-container matColumnDef="externalId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{externalIdLabel | localize: 'externalIdLabel':'payments':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.externalId}}
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="right">
                    <button disableRipple mat-button class="payment-action-picker" [matMenuTriggerFor]="action">
                        <span class="action-icon icon medium-icon"></span>
                    </button>
                    <mat-menu class="action-menu" #action="matMenu">
                        <div mat-menu-item (click)="showDetail(element.id)">
                            <button disableRipple mat-button>
                                <span class="pl-1">{{detailsLabel | localize: 'detailsLabel':'payments':'label'}}</span>
                            </button>
                        </div>
                        <div mat-menu-item (click)="delete(element.id)">
                            <button disableRipple mat-button>
                                <span class="pl-1 delete">{{deleteLabel | localize: 'deleteLabel':'payments':'label'}}</span>
                            </button>
                        </div>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row class="table-head" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>