<div class="page-content">
    <div *ngIf="summary" class="row summary">
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.usersCount}}
                    </div>
                    <div class="card-label">
                        {{usersLabel | localize: 'usersLabel':'dashboard':'label'}}
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.requestsCount}}
                    </div>
                    <div class="card-label">
                        {{requestsLabel | localize: 'requestsLabel':'dashboard':'label'}}
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.entriesCount}}
                    </div>
                    <div class="card-label">
                        {{entriesCountLabel | localize: 'entriesCountLabel':'dashboard':'label'}}
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.paymentsTotal}}
                    </div>
                    <div class="card-label">
                        {{earningsLabel | localize: 'earningsLabel':'dashboard':'label'}} ({{currencyLabel | localize: 'currencyLabel':'dashboard':'label'}})
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div *ngIf="requests" class="row main">
        <div class="col-md-9 col-xs-12">
            <div class="mat-elevation-z3 p-4">
                <div class="tile-header pb-3">
                    {{requestsLast30DaysLabel | localize: 'requestsLast30DaysLabel':'dashboard':'label'}}
                </div>
                <div class="chart-wrapper">
                    <ngx-charts-bar-vertical-stacked [scheme]="colorSchemeBarChart" [results]="requestsChartData" [yAxisTickFormatting]="yAxisTickFormatting"
                        xAxis="true" yAxis="true" [tooltipDisabled]="true">
                    </ngx-charts-bar-vertical-stacked>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="mat-elevation-z3 p-4">
                <div class="tile-header pb-3">
                    {{exportTypesLabel | localize: 'exportTypesLabel':'dashboard':'label'}}
                </div>
                <div class="chart-wrapper">
                    <ngx-charts-pie-chart [arcWidth]="0.3" [legend]="false" [doughnut]="true" [scheme]="colorSchemeChart" [results]="exportUsageChartData">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row main">
        <div class="col-md-6 col-xs-12">
            <div class="mat-elevation-z3 p-4">
                <div class="tile-header pb-3">
                    {{last5UsersLabel | localize: 'last5UsersLabel':'dashboard':'label'}}
                </div>
                <div class="row pb-1" *ngFor="let user of users | slice:0:5">
                    <div class="col-6">{{user.email}}</div>
                    <div class="col-6 right">{{user.registrationDate | localizedDate :'dd MMM yyyy HH:mm:ss'}}</div>
                </div>
                <div class="right pt-3">
                    <span class="view-all bold" (click)="navigate('administration/users')">{{viewAllLabel | localize: 'viewAllLabel':'dashboard':'label'}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="mat-elevation-z3 p-4">
                <div class="tile-header pb-3">
                    {{last5RequestsLabel | localize: 'last5RequestsLabel':'dashboard':'label'}}
                </div>
                <div class="row pb-1" *ngFor="let request of requests | slice:0:5">
                    <div class="col-6">{{request.creationDate | localizedDate :'dd MMM yyyy HH:mm:ss'}}</div>
                    <div class="col-6 right">{{byLabel | localize: 'byLabel':'dashboard':'label'}} {{request.email}}</div>
                </div>
                <div class="right pt-3">
                    <span class="view-all bold" (click)="navigate('administration/requests')">{{viewAllLabel | localize:
                        'viewAllLabel':'dashboard':'label'}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>