<div class="page-content">
    <div *ngIf="summary" class="row summary">
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.usersCount}}
                    </div>
                    <div class="card-label">
                        users
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.requestsCount}}
                    </div>
                    <div class="card-label">
                        requests
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.entriesCount}}
                    </div>
                    <div class="card-label">
                        entries count
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="mat-elevation-z3 section-wrapper">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-value">
                        {{summary.paymentsTotal}}
                    </div>
                    <div class="card-label">
                        earnings
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    -
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="row main">
        <div class="col-md-9 col-xs-12">
            <div class="mat-elevation-z3">
                Line chart
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="mat-elevation-z3">
                Pie chart
            </div>
        </div>
    </div>
    <div class="row main">
        <div class="col-md-6 col-xs-12">
            <div class="mat-elevation-z3 p-4">
                <div class="tile-header pb-3">
                    Last 5 users
                </div>
                <div class="row pb-1" *ngFor="let user of users | slice:0:5">
                    <div class="col-6">{{user.email}}</div>
                    <div class="col-6 right">{{user.registrationDate | localizedDate :'dd MMM yyyy HH:mm:ss'}}</div>
                </div>
                <div class="right pt-3">
                    <span class="view-all bold" (click)="navigate('administration/users')">View all</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="mat-elevation-z3 p-4">
                <div class="tile-header pb-3">
                    Last 5 requests
                </div>
                <div class="row pb-1" *ngFor="let request of requests | slice:0:5">
                    <div class="col-6">{{request.creationDate | localizedDate :'dd MMM yyyy HH:mm:ss'}}</div>
                    <div class="col-6 right">by {{request.email}}</div>
                </div>
                <div class="right pt-3">
                    <span class="view-all bold" (click)="navigate('administration/requests')">View all</span>
                </div>
            </div>
        </div>
    </div>

</div>