<mat-toolbar *ngIf="showNavigation" class="top-navbar sticky" (scroll)="onWindowScroll($event)">
    <mat-toolbar-row>
        <img src="../assets/logo.svg" alt="logo" class="logo" (click)="navigate('/')" />
        <span class="spacer"></span>
        <button disableRipple mat-button (click)="navigate('/')">{{homeLabel | localize: 'homeLabel':'navigation':'label'}}</button>
        <button disableRipple mat-button (click)="navigate('/hive')">{{hiveLabel | localize: 'hiveLabel':'navigation':'label'}}</button>
        <button disableRipple mat-button (click)="navigate('/pricing')">{{pricingLabel | localize: 'pricingLabel':'navigation':'label'}}</button>
        <button disableRipple mat-button (click)="navigate('/faq')">{{faqLabel | localize: 'faqLabel':'navigation':'label'}}</button>
        <button *ngIf="navigationAdministrationSegment" disableRipple mat-button class="administration-picker" [matMenuTriggerFor]="administration">
            {{administrationLabel | localize: 'administrationLabel':'navigation':'label'}}
        </button>
        <mat-menu class="administration-menu" #administration="matMenu">
            <div mat-menu-item (click)="navigate('/administration/dashboard')">
                <button disableRipple mat-button>
                    <span class="icon dashboard-icon left-icon small-icon"></span>
                    <span>{{dashboardLabel | localize: 'dashboardLabel':'navigation':'label'}}</span>
                </button>
            </div>
            <div mat-menu-item (click)="navigate('/administration/users')">
                <button disableRipple mat-button>
                    <span class="icon users-icon left-icon small-icon"></span>
                    <span>{{usersLabel | localize: 'usersLabel':'navigation':'label'}}</span>
                </button>
            </div>
            <div mat-menu-item (click)="navigate('/administration/requests')">
                <button disableRipple mat-button>
                    <span class="icon requests-icon left-icon small-icon"></span>
                    <span>{{requestsLabel | localize: 'requestsLabel':'navigation':'label'}}</span>
                </button>
            </div>
            <div mat-menu-item (click)="navigate('/administration/payments')">
                <button disableRipple mat-button>
                    <span class="icon requests-icon left-icon small-icon"></span>
                    <span>{{paymentsLabel | localize: 'paymentsLabel':'navigation':'label'}}</span>
                </button>
            </div>
            <div mat-menu-item (click)="navigate('/administration/faqs')">
                <button disableRipple mat-button>
                    <span class="icon requests-icon left-icon small-icon"></span>
                    <span>{{faqLabel | localize: 'faqLabel':'navigation':'label'}}</span>
                </button>
            </div>
        </mat-menu>

        <button disableRipple mat-flat-button class="language-picker" [matMenuTriggerFor]="language">
            <span class="icon language-icon left-icon small-icon"></span>
            <span class="language-label">{{currentLanguageLabel}}</span>
            <mat-icon class="right-icon">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="language-menu" #language="matMenu">
            <div mat-menu-item (click)="changeLanguage('en')">
                <button disableRipple mat-button>
                    <span class="icon language-en-icon left-icon small-icon"></span>
                    <span>English</span>
                </button>
            </div>
            <div mat-menu-item (click)="changeLanguage('bg')">
                <button disableRipple mat-button>
                    <span class="icon language-bg-icon left-icon small-icon"></span>
                    <span>Български</span>
                </button>
            </div>
        </mat-menu>
        <button *ngIf="!authenticated" [disableRipple]="true" mat-flat-button class="signin" (click)="navigate('/signin')">{{signinLabel
            | localize: 'signinLabel':'navigation':'label' | uppercase }}</button>
        <button *ngIf="authenticated" disableRipple mat-button class="profile-picker" [matMenuTriggerFor]="profile">
            <span class="icon profile-icon left-icon small-icon"></span>
            <span class="profile-label">{{email}}</span>
        </button>
        <mat-menu class="profile-menu" #profile="matMenu">
            <div mat-menu-item (click)="navigate('/profile')">
                <button disableRipple mat-button>
                    <span class="icon profileuser-icon left-icon small-icon"></span>
                    <span>{{profileLabel | localize: 'profileLabel':'navigation':'label'}}</span>
                </button>
            </div>
            <div mat-menu-item (click)="signout()">
                <button disableRipple mat-button>
                    <span class="icon signout-icon left-icon small-icon"></span>
                    <span>{{signoutLabel | localize: 'signoutLabel':'navigation':'label'}}</span>
                </button>
            </div>
        </mat-menu>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>
<notifier-container></notifier-container>
<router-outlet></router-outlet>