<mat-toolbar class="top-navbar sticky" (scroll)="onWindowScroll($event)">
    <mat-toolbar-row>
        <img src="../assets/logo.svg" alt="logo" class="logo" (click)="navigate('/')" />
        <span class="spacer"></span>
        <button disableRipple mat-button (click)="navigate('/')">{{homeLabel | localize: 'homeLabel':'navigation':'label'}}</button>
        <button disableRipple mat-button (click)="navigate('/hive')">{{hiveLabel | localize: 'hiveLabel':'navigation':'label'}}</button>
        <button disableRipple mat-button (click)="navigate('/faq')">{{faqLabel | localize: 'faqLabel':'navigation':'label'}}</button>
        <button disableRipple mat-flat-button class="language-picker" [matMenuTriggerFor]="language">
            <span class="icon language-icon left-icon small-icon"></span>
            <span class="language-label">{{currentLanguageLabel}}</span>
            <mat-icon class="right-icon">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="language-menu" #language="matMenu">
            <div mat-menu-item (click)="changeLanguage('en')">
                <button disableRipple mat-button>
                    <span class="icon language-en-icon left-icon small-icon"></span>
                    <span>English</span>
                </button>
            </div>
            <div mat-menu-item (click)="changeLanguage('bg')">
                <button disableRipple mat-button>
                    <span class="icon language-bg-icon left-icon small-icon"></span>
                    <span>Български</span>
                </button>
            </div>
        </mat-menu>
        <button *ngIf="!authenticated" [disableRipple]="true" mat-flat-button class="signin" (click)="navigate('/signin')">{{signinLabel
            | localize: 'signinLabel':'navigation':'label' | uppercase }}</button>
        <button *ngIf="authenticated" disableRipple mat-button class="profile-picker" [matMenuTriggerFor]="user">
            <span class="icon profile-icon left-icon small-icon"></span>
            <span class="profile-label">{{email}}</span>
        </button>
        <mat-menu class="profile-menu" #user="matMenu">
            <div mat-menu-item (click)="navigate('/profile')">
                <button disableRipple mat-button>
                    <span class="icon settings-icon left-icon small-icon"></span>
                    <span>{{settingsLabel | localize: 'settingsLabel':'navigation':'label'}}</span>
                </button>
            </div>
            <div mat-menu-item (click)="signout()">
                <button disableRipple mat-button>
                    <span class="icon signout-icon left-icon small-icon"></span>
                    <span>{{signoutLabel | localize: 'signoutLabel':'navigation':'label'}}</span>
                </button>
            </div>
        </mat-menu>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>