.spacer {
    flex: 1 1 auto;
}

.logo {
    height: 50px;
}

.logo:hover {
    cursor: pointer;
}

.top-navbar {
    background-color: #ffffff;
    z-index: 100;
}

.top-navbar-inverse {
    background-color: #FFEB3B;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-navbar .mat-toolbar-row {
    padding: 0px 30px !important;
}

.top-navbar .mat-button {
    padding: 0px 20px !important;
    margin: 0px 10px !important;
}

.top-navbar .mat-flat-button {
    margin: 0px 10px !important;
}

.top-navbar .mat-flat-button {
    min-width: 170px;
}

.top-navbar .mat-button:hover {
    color: #FFEB3B;
}

.top-navbar-inverse .mat-button:hover {
    color: #ffffff;
}

.top-navbar .signin {
    background-color: #212121;
    color: #ffffff;
}

.top-navbar .signin:hover {
    background-color: #212121;
    color: #FFEB3B;
}

.top-navbar .language-picker {
    background-color: #FFEB3B;
    color: #ffffff;
}

.top-navbar .language-picker:hover {
    background-color: #FFEB3B;
    color: #212121;
}

.top-navbar-inverse .language-picker {
    background-color: #FFEB3B;
    color: #212121;
}

.top-navbar-inverse .language-picker:hover {
    background-color: #FFEB3B;
    color: #ffffff;
}

.top-navbar-inverse .signin {
    background-color: #212121;
    color: #FFEB3B;
}

.top-navbar-inverse .signin:hover {
    color: #ffffff;
}

.administration-picker {
    min-width: 170px;
}

.top-navbar .language-icon {
    background: url(../assets/icons/language-white.svg);
}

.top-navbar-inverse .language-icon {
    background: url(../assets/icons/language-accent.svg);
}

.top-navbar .language-picker:hover .language-icon {
    background: url(../assets/icons/language-accent.svg);
}

.top-navbar-inverse .language-picker:hover .language-icon {
    background: url(../assets/icons/language-white.svg);
}

.top-navbar .profile-icon {
    background: url(../assets/icons/profile-accent.svg);
}

.top-navbar-inverse .profile-icon {
    background: url(../assets/icons/profile-accent.svg);
}

.top-navbar .profile-picker:hover .profile-icon {
    background: url(../assets/icons/profile-primary.svg);
}

.top-navbar-inverse .profile-picker:hover .profile-icon {
    background: url(../assets/icons/profile-white.svg);
}

.language-en-icon {
    background: url(../assets/icons/language-en-accent.svg);
}

.language-bg-icon {
    background: url(../assets/icons/language-bg-accent.svg);
}

.profileuser-icon {
    background: url(../assets/icons/profile-accent.svg);
}

.signout-icon {
    background: url(../assets/icons/signout-accent.svg);
}

.dashboard-icon {
    background: url(../assets/icons/dashboard-accent.svg);
}

.users-icon {
    background: url(../assets/icons/users-accent.svg);
}

.requests-icon {
    background: url(../assets/icons/requests-accent.svg);
}

.language-label {
    display: inline-block;
    min-width: 72px;
}