table {
    width: 100%;
}

.table-head {
    background-color: #FFEB3B;
    color: #212121;
    border-bottom: 2px solid #FFEB3B;
    padding-bottom: 1px;
}

tr.mat-row:hover {
    background-color: #efefef;
}

.faq-action-picker {
    visibility: hidden;
}

.faq-action-picker[aria-expanded="true"] {
    visibility:visible;
}

tr.mat-row:hover .faq-action-picker {
    visibility:visible;
}

.action-icon {
    background: url(../../../assets/icons/action-unfocused.svg);
}

.action-icon:hover {
    background: url(../../../assets/icons/action-accent.svg);
}

.delete {
    color: #e20405;
}

.filter-wrapper .mat-form-field {
    width: 100%;
}

.full-width {
    width: 100%;
}