<div [formGroup]="parentForm">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-12 export-tile">
            <div class="export-option" [class.active]="isOptionActive(exportTypes.Json)" (click)="selectOption(exportTypes.Json)">
                <div class="export-option-image">
                    <span class="image json-image"></span>
                </div>
                <div class="export-option-content">
                    <h5>{{jsonFormatLabel | localize: 'jsonFormatLabel':'exportpicker':'label'}}</h5>
                    <div>
                        {{jsonDescriptionLabel | localize: 'jsonDescriptionLabel':'exportpicker':'label'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-12 export-tile">
            <div class="export-option" [class.active]="isOptionActive(exportTypes.Xml)" (click)="selectOption(exportTypes.Xml)">
                <div class="export-option-image">
                    <span class="image xml-image"></span>
                </div>
                <div class="export-option-content">
                    <h5>{{xmlFormatLabel | localize: 'xmlFormatLabel':'exportpicker':'label'}}</h5>
                    <div>
                        {{xmlDescriptionLabel | localize: 'xmlDescriptionLabel':'exportpicker':'label'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-12 export-tile">
            <div class="export-option" [class.active]="isOptionActive(exportTypes.Csv)" (click)="selectOption(exportTypes.Csv)">
                <div class="export-option-image">
                    <span class="image csv-image"></span>
                </div>
                <div class="export-option-content">
                    <h5>{{csvFormatLabel | localize: 'csvFormatLabel':'exportpicker':'label'}}</h5>
                    <div>
                        {{csvDescriptionLabel | localize: 'csvDescriptionLabel':'exportpicker':'label'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-12 export-tile">
            <div class="export-option" [class.active]="isOptionActive(exportTypes.Txt)" (click)="selectOption(exportTypes.Txt)">
                <div class="export-option-image">
                    <span class="image txt-image"></span>
                </div>
                <div class="export-option-content">
                    <h5>{{txtFormatLabel | localize: 'txtFormatLabel':'exportpicker':'label'}}</h5>
                    <div>
                        {{txtDescriptionLabel | localize: 'txtDescriptionLabel':'exportpicker':'label'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>