<div class="row pl-5 pt-5 pb-3">
    <div class="header-row">
        <span class="icon requests-icon left-icon large-x2-icon header-icon"></span>
        <span class="header-title pl-2">{{requestsLabel | localize: 'requestsLabel':'requests-profile':'label'}}</span>
    </div>
</div>
<div class="pl-5 pr-5 pt-4">
    <div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef>{{creationDateLabel | localize: 'creationDateLabel':'requests-profile':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.creationDate | localizedDate :'d MMM yyyy HH:mm:ss'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>{{statusLabel | localize: 'statusLabel':'requests-profile':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.status | scrapestatusconvert:triggerStatusUpdate }} </td>
            </ng-container>
            <ng-container matColumnDef="entries">
                <th mat-header-cell *matHeaderCellDef>{{entriesCountLabel | localize: 'entriesCountLabel':'requests-profile':'label'}}</th>
                <td mat-cell *matCellDef="let element"> {{element.entries}} {{entriesLabel | localize: 'entriesLabel':'requests-profile':'label'
                    | lowercase}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="right">
                    <button disableRipple mat-button class="request-action-picker" [matMenuTriggerFor]="action">
                        <span class="action-icon icon medium-icon"></span>
                    </button>
                    <mat-menu class="action-menu" #action="matMenu">
                        <div mat-menu-item (click)="showDetail(element.id)">
                            <button disableRipple mat-button>
                                <span class="pl-1">{{detailsLabel | localize: 'detailsLabel':'requests-profile':'label'}}</span>
                            </button>
                        </div>
                        <div *ngIf="element.status == 2 && element.status != 4" mat-menu-item (click)="unlock(element.id)">
                            <button disableRipple mat-button>
                                <span class="pl-1">{{unlockLabel | localize: 'unlockLabel':'requests-profile':'label'}}</span>
                            </button>
                        </div>
                        <div *ngIf="element.status == 4" mat-menu-item>
                            <button disableRipple mat-button>
                                <a class="menu-link pl-1" href="{{ element.downloadUrl }}">{{downloadLabel | localize: 'downloadLabel':'requests-profile':'label'}}</a>
                            </button>
                        </div>
                        <div *ngIf="element.status == 4" mat-menu-item (click)="share(element.shareableDownloadUrl)">
                            <button disableRipple mat-button>
                                <span class="pl-1">{{shareLabel | localize: 'shareLabel':'requests-profile':'label'}}</span>
                            </button>
                        </div>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row class="table-head" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
</div>