.header-icon {
    vertical-align: middle;
}

.header-title {
    vertical-align: middle;
    font-weight: 400;
    font-size: 52px;
}

.settings-icon {
    background: url(../../../../assets/icons/settings-accent.svg);
}

.message-wrapper {
    min-width: 350px;
    margin-left: -20px;
}

.loading-wrapper {
    width: 250px;
    margin: 80px 0px;
}

.settings-field {
    min-width: 350px;
}

.settings {
    min-width: 250px;
    background-color: #ffeb3b;
    color: #ffffff;
}

.settings.disabled {
    min-width: 250px;
    background-color: #dfdfdf;
    color: #ffffff;
}

.settings:hover {
    background-color: #ffeb3b;
    color: #212121;
}

.settings.disabled:hover {
    background-color: #dfdfdf;
    color: #ffffff;
}