<div class="page-content mat-elevation-z3">
    <div class="row form-container">
        <div class="col-lg-1 col-md-12">

        </div>
        <div class="col-lg-5 col-md-12 center signin-side">
            <div *ngIf="showLoading" class="loading-wrapper">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!showLoading">
                <div [formGroup]="signinFormGroup">
                    <div class="center form-header pb-4">
                        {{accountLabel | localize: 'accountLabel':'signin':'label'}}
                    </div>
                    <bh-errormessage class="pb-3" *ngIf="showErrorMessage" message="{{errorMessageLabel}}" width="300px"></bh-errormessage>
                    <div>
                        <mat-form-field floatLabel="never" class="pb-4 signin-field">
                            <mat-label>{{emailLabel | localize: 'emailLabel':'signin':'label'}}</mat-label>
                            <input matInput autocomplete="off" formControlName="email">
                            <span matSuffix class="required">*</span>
                            <mat-error *ngIf="signinFormGroup.hasError('required', 'email')">
                                {{emailRequiredErrorLabel | localize: 'emailRequiredErrorLabel':'signin':'label'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field floatLabel="never" class="pb-4 signin-field">
                            <mat-label>{{passwordLabel | localize: 'passwordLabel':'signin':'label'}}</mat-label>
                            <input matInput autocomplete="off" formControlName="password" [type]="showPassword ? 'text' : 'password'">
                            <span matSuffix (click)="showPassword = !showPassword" class="{{showPassword ? 'icon password-disabled-icon medium-icon' : 'icon password-enabled-icon medium-icon'}}"></span>
                            <mat-error *ngIf="signinFormGroup.hasError('required', 'password')">
                                {{passwordRequiredErrorLabel | localize: 'passwordRequiredErrorLabel':'signin':'label'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button disableRipple mat-flat-button class="signin mt-2" (click)="signin()">
                        {{signinLabel | localize: 'signinLabel':'signin':'label' | uppercase}}
                    </button>
                </div>
                <div class="center pt-2 signup-button">
                    <span (click)="resetpassword()">{{forgotPasswordLabel | localize: 'forgotPasswordLabel':'signin':'label'}}</span>
                </div>
                <div class="divider center">

                </div>
                <div>
                    <button disableRipple mat-flat-button class="signin-facebook" (click)="signinFacebook()">
                        {{signinFacebookLabel | localize: 'signinFacebookLabel':'signin':'label' | uppercase}}
                    </button>
                </div>
                <div>
                    <button disableRipple mat-flat-button class="signin-google mt-2" (click)="signinGoogle()">
                        {{signinGoogleLabel | localize: 'signinGoogleLabel':'signin':'label' | uppercase}}
                    </button>
                </div>
                <div class="center pt-2 signup-button">
                    <span (click)="navigate('/signup')">{{noAccountLabel | localize: 'noAccountLabel':'signin':'label'}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 ml-5 center image-side">
            <img src="/assets/images/signin.jpg" class="image" />
        </div>
    </div>
</div>