.close-icon {
    background: url(../../../../assets/icons/close-accent.svg);
}

.close-button {
    background-color: #ffffff;
}

.close-button:hover {
    background-color: #efefef;
}

.save {
    min-width: 150px;
    background-color: #FFEB3B;
    color: #ffffff;
}

.save:hover {
    background-color: #FFEB3B;
    color: #212121;
}

.full-width {
    width: 100%;
}

.markup-input {
    resize: none;
    word-wrap: break-word;
}

.manual-wrapper {
    min-height: 220px;
}