.close-icon {
    background: url(../../../../assets/icons/close-accent.svg);
}

.close-button {
    background-color: #ffffff;
}

.close-button:hover {
    background-color: #efefef;
}

.code-editor {
    height: 100%;
}

.code-editor-wrapper {
    height: calc(90vh - 180px);
}

.save {
    min-width: 150px;
    background-color: #FFEB3B;
    color: #ffffff;
}

.save:hover {
    background-color: #FFEB3B;
    color: #212121;
}

.generate {
    min-width: 150px;
    background-color: #212121;
    color: #ffffff;
}

.generate:hover {
    background-color: #212121;
    color: #FFEB3B;
}

.generate.disabled {
    min-width: 150px;
    background-color: #dfdfdf;
    color: #ffffff;
}

.generate.disabled:hover {
    background-color: #dfdfdf;
    color: #ffffff;
}

.full-width {
    width: 100%;
}