<div class="page-content mat-elevation-z3">
    <mat-horizontal-stepper linear #stepper [disableRipple]="true" (selectionChange)="stepChanged($event, stepper)">
        <ng-template matStepperIcon="edit">
            <span class="small-icon edit-icon"></span>
        </ng-template>
        <mat-step [stepControl]="scrapeTypeFormGroup">
            <form [formGroup]="scrapeTypeFormGroup">
                <ng-template matStepLabel>
                    {{selectPagesTypeLabel | localize: 'selectPagesTypeLabel':'hive':'label'}}
                </ng-template>
                <div class="form-content">
                    <bh-scrapepicker [parentForm]="scrapeTypeFormGroup"></bh-scrapepicker>
                </div>
                <div class="row p-2">
                    <div class="col-md-6 col-sm-12 left">
                    </div>
                    <div class="col-md-6 col-sm-12 right">
                        <button disableRipple mat-flat-button class="direction" matStepperNext>
                            {{nextLabel | localize: 'nextLabel':'hive':'label' | uppercase}}
                        </button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="dataSourceMappingFormGroup">
            <form [formGroup]="dataSourceMappingFormGroup">
                <ng-template matStepLabel>
                    {{selectDataSourceMappingLabel | localize: 'selectDataSourceMappingLabel':'hive':'label'}}
                </ng-template>
                <div class="form-content row">
                    <div class="col-lg-5 col-md-12">
                        <bh-datasource [scrapeType]="scrapeTypeFormGroup.value.scrapeType" [parentForm]="dataSourceMappingFormGroup">
                        </bh-datasource>
                    </div>
                    <div class="col-lg-1 vertical-divider">
                        <span class="divider"></span>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <bh-datamapping [fieldMappings]="fieldMappings" [parentForm]="dataSourceMappingFormGroup"></bh-datamapping>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-6 col-sm-12 left">
                        <button disableRipple mat-flat-button class="direction" matStepperPrevious>
                            {{previousLabel | localize: 'previousLabel':'hive':'label' | uppercase}}
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-12 right">
                        <button disableRipple mat-flat-button class="direction" matStepperNext>
                            {{nextLabel | localize: 'nextLabel':'hive':'label' | uppercase}}
                        </button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="exportTypeFormGroup">
            <form [formGroup]="exportTypeFormGroup">
                <ng-template matStepLabel>
                    {{selectExportTypeLabel | localize: 'selectExportTypeLabel':'hive':'label'}}
                </ng-template>
                <div class="form-content">
                    <bh-exportpicker [parentForm]="exportTypeFormGroup"></bh-exportpicker>
                </div>
                <div class="row p-2">
                    <div class="col-md-6 col-sm-12 left">
                        <button disableRipple mat-flat-button class="direction" matStepperPrevious>
                            {{previousLabel | localize: 'previousLabel':'hive':'label' | uppercase}}
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-12 right">
                        <button disableRipple mat-flat-button class="direction" matStepperNext>
                            {{nextLabel | localize: 'nextLabel':'hive':'label' | uppercase}}
                        </button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                {{confirmRequestLabel | localize: 'confirmRequestLabel':'hive':'label'}}
            </ng-template>
            <div class="form-content">
                <bh-summary [scrapeTypeForm]="scrapeTypeFormGroup" [dataSourceMappingForm]="dataSourceMappingFormGroup" [exportTypeForm]="exportTypeFormGroup"
                    [fieldMappings]="fieldMappings"></bh-summary>
            </div>
            <div class="row p-2">
                <div class="col-md-6 col-sm-12 left">
                    <button disableRipple mat-flat-button class="direction" matStepperPrevious>
                        {{previousLabel | localize: 'previousLabel':'hive':'label' | uppercase}}
                    </button>
                </div>
                <div class="col-md-6 col-sm-12 right">
                    <button disableRipple mat-flat-button class="direction" (click)="confirm()">
                        {{confirmLabel | localize: 'confirmLabel':'hive':'label' | uppercase}}
                    </button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>