<div class="p-2">
    <div class="row pb-3">
        <div class="col-10">
        </div>
        <div class="col-2 right">
            <button class="close-button" mat-button (click)="close()">
                <span class="icon close-icon large-icon"></span>
            </button>
        </div>
    </div>
    <div class="dialog-wrapper pt-1">
        <div *ngIf="showLoading" class="loading-wrapper">
            <mat-spinner></mat-spinner>
        </div>
        <bh-errormessage class="pb-3" *ngIf="showErrorMessage" message="{{errorMessageLabel}}" width="300px"></bh-errormessage>
        <div *ngIf="!showLoading" [formGroup]="faqFormGroup" class="center">
            <div>
                <mat-form-field floatLabel="never" class="pb-4 faqcreate-field">
                    <mat-label>{{questionEnLabel | localize: 'questionEnLabel':'faqcreate-dialog':'label' }}</mat-label>
                    <input matInput autocomplete="off" formControlName="questionEN">
                    <mat-error *ngIf="faqFormGroup.hasError('required', 'questionEN')">
                        {{questionEnRequiredErrorLabel | localize: 'questionEnRequiredErrorLabel':'faqcreate-dialog':'label' }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never" class="pb-4 faqcreate-field">
                    <mat-label>{{questionBgLabel | localize: 'questionBgLabel':'faqcreate-dialog':'label' }}</mat-label>
                    <input matInput autocomplete="off" formControlName="questionBG">
                    <mat-error *ngIf="faqFormGroup.hasError('required', 'questionBG')">
                        {{questionBgRequiredErrorLabel | localize: 'questionBgRequiredErrorLabel':'faqcreate-dialog':'label' }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never" class="pb-4 faqcreate-field">
                    <mat-label>{{answerEnLabel | localize: 'answerEnLabel':'faqcreate-dialog':'label' }}</mat-label>
                    <textarea class="textarea-input" matInput formControlName="answerEN" autocomplete="off" rows="3"></textarea>
                    <mat-error *ngIf="faqFormGroup.hasError('required', 'answerEN')">
                        {{answerEnRequiredErrorLabel | localize: 'answerEnRequiredErrorLabel':'faqcreate-dialog':'label' }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never" class="pb-4 faqcreate-field">
                    <mat-label>{{answerBgLabel | localize: 'answerBgLabel':'faqcreate-dialog':'label' }}</mat-label>
                    <textarea class="textarea-input" matInput formControlName="answerBG" autocomplete="off" rows="3"></textarea>
                    <mat-error *ngIf="faqFormGroup.hasError('required', 'answerBG')">
                        {{answerBgRequiredErrorLabel | localize: 'answerBgRequiredErrorLabel':'faqcreate-dialog':'label' }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never" class="pb-4 faqcreate-field">
                    <mat-label>{{categoriesLabel | localize: 'categoriesLabel':'faqcreate-dialog':'label'}}</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let faqCategory of faqCategories" [value]="faqCategory.id">
                            {{faqCategory | faqcategoryconvert:triggerStatusUpdate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 center">
            <button *ngIf="!showLoading" [ngClass]="faqFormGroup.invalid ? 'create disabled': 'create'" disableRipple mat-flat-button
                (click)="create()" [disabled]="faqFormGroup.invalid">
                <span>{{createLabel | localize: 'createLabel':'faqcreate-dialog':'label' | uppercase}}</span>
            </button>
        </div>
    </div>
</div>