/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif !important; 
}

.mat-button-focus-overlay {
    background-color: transparent !important;
}

.page-content {
    margin: 100px 50px 50px 50px;
    padding: 20px 0px;
}

.loading-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100% - 20px);
}

.error-message {
    text-align: left;
    color: #F44336;
    display: inline-block;
    padding:5px;
    font-weight: 500;
    font-size:14px;
}

.error-message .error-icon-wrap {
    vertical-align: middle;
    margin: auto 0px;
    padding: 6px 0px 0px 6px;
    width: 50px;
    display: inline-block;
}

.error-message .error-content-wrap {
    vertical-align: middle;
    margin: auto 0px;
    padding: 0px;
    display: inline-block;
    word-wrap: break-word;
    width: calc(100% - 50px);
}

.success-message {
    text-align: left;
    color: #4CAF50;
    display: inline-block;
    padding:5px;
    font-weight: 500;
    font-size:14px;
}

.success-message .success-icon-wrap {
    vertical-align: middle;
    margin: auto 0px;
    padding: 6px 0px 0px 6px;
    width: 50px;
    display: inline-block;
}

.success-message .success-content-wrap {
    vertical-align: middle;
    margin: auto 0px;
    padding: 0px;
    display: inline-block;
    word-wrap: break-word;
    width: calc(100% - 50px);
}

.form-header {
    font-size: 28px;
}

/* Material customizations */
.mat-elevation-z3 {
    box-shadow: 10px 13px 13px -12px rgba(0, 0, 0, 0.04), 0px 3px 4px 0px rgba(0, 0, 0, 0.04), 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
}

.notifier__notification--material {
    border-radius: 2px !important;
}

.notifier__notification-button-icon {
    fill: #FFF;
}

.notifier__notification--default {
    background-color: #444;
    color: #FFF;
}

.notifier__notification--error {
    background-color: #F44336;
    color: #FFF;
}

.notifier__notification--info {
    background-color: #5BC0DE;
    color: #FFF;
}

.notifier__notification--warning {
    background-color: #F0AD4E;
    color: #FFF;
}

.notifier__notification--success {
    background-color: #4CAF50;
    color: #FFF;
}

.mat-selected .mat-active {
    color: #000000 !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #000000 !important;
}

.mat-button-base {
    border-radius: 2px !important;
}

.mat-step-header .mat-step-icon {
    background-color: #efefef !important;
}

.mat-step-header .mat-step-icon-selected {
    background-color: #ffeb3b !important;
}

.mat-step-header .mat-step-icon-state-done {
    background-color: #ffeb3b !important;
}

.mat-step-header:hover{
    background-color: transparent !important;
}

.mat-step-header.cdk-program-focused {
      background-color: transparent;
  }

.mat-step-header.cdk-mouse-focused{
    background-color: transparent;
}

.mat-step-header.cdk-focused{
    background-color: transparent;
}

.mat-form-field-infix {
    border-top-width: 0px;
}

.dialog .mat-form-field {
    min-width: 300px;
}

.detail-url-wrapper .mat-form-field {
    width: 80%;
}

.automatic-wrapper .mat-form-field {
    padding-top: 8px !important;
}

.code-dialog-header .mat-form-field {
    padding-top: 6px !important;
}

.mat-header-cell {
    color: #212121 !important;
    font-size: 14px;
}

.mat-sort-header-arrow {
    color: #313131 !important;
}

.mat-expansion-panel-header:hover {
    background-color: transparent !important;
}

/* Custom mat menus */

.mat-menu-panel .mat-button-focus-overlay  {
    background-color: transparent !important;
}

.language-menu.mat-menu-panel, .profile-menu.mat-menu-panel, .markup-menu.mat-menu-panel, .detail-link-menu.mat-menu-panel, .detail-url-mode-menu.mat-menu-panel, .administration-menu.mat-menu-panel {
    min-width: 170px !important; 
}

.action-menu.mat-menu-panel {
    min-width: 140px !important; 
}

.markup-menu.mat-menu-panel {
    margin-top: 10px;
}

.detail-link-menu.mat-menu-panel {
    margin-top: -10px;
}

.manual-wrapper .mat-tab-body-content {
    overflow: hidden;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
}

/* Bootstrap customizations */

button:focus {
    outline: 0px !important;
}

/* Common */

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

/* icons */
.icon {
    display: inline-block;
    background-size: cover;
}

.large-x2-icon {
    width: 60px;
    height: 60px;
}

.large-icon {
    width: 30px;
    height: 30px;
}

.medium-icon {
    width: 25px;
    height: 25px;
}

.small-icon {
    width: 20px;
    height: 20px;
}

.left-icon {
    margin-right: 10px;
}

.right-icon {
    margin-left: 15px;
}

.error-icon {
    background: url(../src/assets/icons/error-accent.svg);
}

.success-icon {
    background: url(../src/assets/icons/success-accent.svg);
}

