<div class="p-2">
    <div class="row pb-3">
        <div class="col-10">
        </div>
        <div class="col-2 right">
            <button class="close-button" mat-button (click)="close()">
                <span class="icon close-icon large-icon"></span>
            </button>
        </div>
    </div>
    <div class="dialog-wrapper pt-1">
        <div *ngIf="showLoading" class="loading-wrapper">
            <mat-spinner></mat-spinner>
        </div>
        <bh-errormessage class="pb-3" *ngIf="showErrorMessage" message="{{errorMessageLabel}}" width="300px"></bh-errormessage>
        <div *ngIf="!(codeSent || showLoading)" [formGroup]="resetCodeFormGroup" class="center">
            <div>
                <mat-form-field floatLabel="never" class="pb-2 resetpassword-field">
                    <mat-label>{{emailLabel | localize: 'emailLabel':'resetpassword-dialog':'label' }}</mat-label>
                    <input matInput autocomplete="off" formControlName="email">
                    <mat-error *ngIf="resetCodeFormGroup.hasError('required', 'email')">
                        {{emailRequiredErrorLabel | localize: 'emailRequiredErrorLabel':'resetpassword-dialog':'label' }}
                    </mat-error>
                    <mat-error *ngIf="resetCodeFormGroup.hasError('email', 'email')">
                        {{emailPatternErrorLabel | localize: 'emailPatternErrorLabel':'resetpassword-dialog':'label' }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="(codeSent && !showLoading)" [formGroup]="resetPasswordFormGroup" class="center">
            <div>
                <mat-form-field floatLabel="never" class="pb-4 resetpassword-field">
                    <mat-label>{{verificationCodeLabel | localize: 'verificationCodeLabel':'resetpassword-dialog':'label'}}</mat-label>
                    <input matInput autocomplete="off" formControlName="code">
                    <mat-error *ngIf="resetPasswordFormGroup.hasError('required', 'code')">
                        {{verificationCodeRequiredErrorLabel | localize: 'verificationCodeLabel':'resetpassword-dialog':'label'}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="password">
                <div>
                    <mat-form-field floatLabel="never" class="pb-4 resetpassword-field">
                        <mat-label>{{passwordLabel | localize: 'passwordLabel':'resetpassword-dialog':'label'}}</mat-label>
                        <input matInput autocomplete="off" formControlName="password" [type]="showPassword ? 'text' : 'password'">
                        <span matSuffix (click)="showPassword = !showPassword" class="{{showPassword ? 'icon password-disabled-icon medium-icon' : 'icon password-enabled-icon medium-icon'}}"></span>
                        <mat-error *ngIf="resetPasswordFormGroup.get('password').hasError('required', 'password')">
                            {{passwordRequiredErrorLabel | localize: 'passwordRequiredErrorLabel':'resetpassword-dialog':'label'}}
                        </mat-error>
                        <mat-error *ngIf="resetPasswordFormGroup.get('password').hasError('minlength', 'password')">
                            {{passwordLengthErrorLabel | localize: 'passwordLengthErrorLabel':'resetpassword-dialog':'label'}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field floatLabel="never" class="pb-4 resetpassword-field">
                        <mat-label>{{confirmPasswordLabel | localize: 'confirmPasswordLabel':'resetpassword-dialog':'label'}}</mat-label>
                        <input matInput autocomplete="off" formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" type="password"
                            [errorStateMatcher]="confirmPasswordMatcher">
                        <span matSuffix (click)="showConfirmPassword = !showConfirmPassword" class="{{showConfirmPassword ? 'icon password-disabled-icon medium-icon' : 'icon password-enabled-icon medium-icon'}}"></span>
                        <mat-error *ngIf="resetPasswordFormGroup.get('password').errors">
                            {{confirmPasswordMatchErrorLabel | localize: 'confirmPasswordMatchErrorLabel':'resetpassword-dialog':'label'}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 center">
            <button *ngIf="!(codeSent || showLoading)" [ngClass]="resetCodeFormGroup.invalid ? 'sendcode disabled': 'sendcode'" disableRipple
                mat-flat-button (click)="sendCode()" [disabled]="resetCodeFormGroup.invalid">
                <span>{{sendCodeLabel | localize: 'sendCodeLabel':'resetpassword-dialog':'label' | uppercase}}</span>
            </button>
            <button *ngIf="(codeSent && !showLoading)" [ngClass]="resetPasswordFormGroup.invalid ? 'sendcode disabled': 'sendcode'" disableRipple
                mat-flat-button (click)="resetPassword()" [disabled]="resetPasswordFormGroup.invalid">
                <span>{{savePasswordLabel | localize: 'savePasswordLabel':'resetpassword-dialog':'label' | uppercase}}</span>
            </button>
        </div>
    </div>
</div>