.close-icon {
    background: url(../../../../assets/icons/close-accent.svg);
}

.close-button {
    background-color: #ffffff;
}

.close-button:hover {
    background-color: #efefef;
}

.resetpassword-field {
    min-width: 300px;
}

.sendcode {
    min-width: 300px;
    background-color: #ffeb3b;
    color: #ffffff;
}

.sendcode.disabled {
    min-width: 300px;
    background-color: #dfdfdf;
    color: #ffffff;
}

.sendcode:hover {
    background-color: #ffeb3b;
    color: #212121;
}

.sendcode.disabled:hover {
    background-color: #dfdfdf;
    color: #ffffff;
}