.close-icon {
    background: url(../../../../assets/icons/close-accent.svg);
}

.close-button {
    background-color: #ffffff;
}

.close-button:hover {
    background-color: #efefef;
}

.sendcode {
    min-width: 150px;
    background-color: #ffeb3b;
    color: #ffffff;
}

.sendcode:hover {
    background-color: #ffeb3b;
    color: #212121;
}